  @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
  @import url('fontawesome-free-6.6.0-web/css/all.min.css');
  
  body {
      background-color: #0d0d0d;
      color: #e8ede8;
      font-family: 'Inconsolata', monospace;
      text-align: center;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: 'Chinese', sans-serif;
      min-height: 100vh;
  }

  h1 {
      font-size: 2.5em;
      margin-bottom: 20px;
      color: #00c8ff;
  }

  .legend {
      margin: 20px 0;
      font-size: 1em;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
  }

  .legend i {
      margin-right: 4px;
      color: #00c8ff;
  }

  .legend div {
      display: flex;
      align-items: center;
      margin: 5px 10px;
  }

  table {
      border-collapse: collapse;
      width: 90%;
      max-width: 1000px;
      margin: 20px auto;
      box-shadow: 0 0 20px rgba(62, 172, 196, 0.5);
      animation: glowEffect 2s infinite;
      background-color: #1a1a1a;
      border-radius: 10px;
      overflow: hidden;
  }

  th,
  td {
      padding: 12px;
      text-align: left;
      border: 1px solid #00c8ff;
      white-space: nowrap;
  }

  th {
      background-color: #333;
  }

  td {
      background-color: #1a1a1a;
  }

  @keyframes glowEffect {
      0% {
          box-shadow: 0 0 20px rgba(62, 172, 196, 0.5);
      }

      50% {
          box-shadow: 0 0 30px rgba(62, 172, 196, 0.8);
      }

      100% {
          box-shadow: 0 0 20px rgba(62, 172, 196, 0.5);
      }
  }

  @font-face {
    font-family: "Chinese";
    src: url("ZCOOLQingKeHuangYou-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }