@font-face {
  font-family: "tttgbnumber";
  src: url("../ttf/HYWenHei-55W.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jty";
  src: url("jty.OTF");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "tttgbnumber";
  font-size: 16px;
  width: 1030px;
  color: #008080;
  background-image:url('https://images.wallpaperscraft.com/image/single/girl_glow_magic_165898_1280x1280.jpg');
  background-size: 100%;
  transform: scale(1.5);
  transform-origin: 0 0;
}
.main {
  flex: 1;
background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size:cover;
}
.container {

  width: 530px;
  padding: 20px 15px 10px 15px;
  background-color: #D9D9F3;
background-image: url('https://images.wallpaperscraft.com/image/single/girl_shell_hare_167320_1280x720.jpg');
}
.head_box {
justify-content: space-between;
  border-radius: 15px;
  font-family: tttgbnumber;
  padding: 10px 20px;
  position: relative;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
}
.head_box2 {
  border-radius: 150px;
  font-family: tttgbnumber;
  padding: 20px 40px;
  position: relative;
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 15%);
}
.head_box .id_text {
  font-size: 24px;
}
.head_box .day_text {
  font-size: 30px;
  color: green;
}
.head_box .title_text {
  font-size: 40px;
  color: white;
}
.head_box .logo {
font-family: "tttgbnumber";
  position: absolute;
  top: -1px;
  right: 55px;
  width: 97px;
}
.head_box .logo2 {
  position: absolute;
  top: 35px;
  right: 15px;
  width: 150px;
}
.head_box .logo3 {
  position: absolute;
  height: 3000%;
 width:3000%;
  top: 1px;
  right: 1px;
  width: 15px;
}
.base_info {
  position: relative;
  padding-left: 10px;
}
.uid {
  font-family: tttgbnumber;
}

.data_box {
justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
  background-image: url('https://images.wallpaperscraft.com/image/single/girl_glow_magic_165898_1280x1280.jpg');
background-attachment: fixed;
  background-repeat:repeat;
  background-size: 100%;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
  position: relative;
  border-radius: 16px;
}
.tab_lable {
  position: absolute;
  top: -20px;
  left: -8px;
  background: #6B4226;
  color: #E6E8FA
;
  font-size: 16px;
  padding: 3px 10px;
  border-radius: 15px 0px 15px 15px;
  z-index: 100;
}
.data_line {
  display: flex;
  justify-content: space-around;
  margin-bottom: 14px;
}
.data_line_item {
  width: 0px;
  text-align: center;
  /*margin: 0 20px;*/
}
.num {
  font-family: tttgbnumber;
  font-size: 24px;
}
.data_box .lable {
  font-size: 14px;
  color: #7FFF00;
  line-height: 1;
  margin-top: 3px;
}

.list{
justify-content: space-between;
flex-wrap: wrap;
display: flex;
flex-direction:row;
}

.list .item {
  width: 470px;
  display: flex;
flex-direction: row;
  
  background: #FFFFFF
;
  filter:opacity(0.7);
  padding: 8px 6px 8px 6px;
  border-radius: 15px;
  margin: 0 0px 10px 10px;
}
.list .item .icon{
  width: 40px;
  height: 20px;
  background-image: url('../../background/image/1.jpg');
  background-size: 100% 100%;
  position: relative;
  flex-shrink: 0;
}
.list .item .icon2{
  width: 28px;
  height: 28px;
  
  background-size: 100% 100%;
  
  background-position:right2000px
  flex-shrink: 0;
}
.list .item .title{
  font-size: 30px;
  margin-left: 8px;
  line-height: 20px;
}
.list .item .title .text{
  color:black;
  white-space: nowrap;
}

.list .item .title .dec{
 font-family: "jty";
  font-size: 20px;
  color: #008080;
  margin-top: 10px;
}















